* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* 首屏模块 */
.banner {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(./images/banner.jpeg) no-repeat center top/cover;
    overflow: hidden;
}

.banner img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pic1 {
    top: 110px;
}

.pic2 {
    top: 425px;
}

.pic3 {
    top: 520px;
}

.jianbian {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 52px;
    background: url(./images/linearbot.png) repeat-x;
}

/* 导航栏模块 */
.top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 1;
}

.w {
    width: 960px;
    height: 75px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-right: 38px;
}

.logo a {
    display: block;
    width: 106px;
    height: 76px;
    background: url(./images/imlogo_b.png) no-repeat left center;
}

.logo a h1 {
    font-size: 0;
}

.nav ul li {
    float: left;
    margin-right: 20px;
}

.nav ul li a {
    display: block;
    width: 76px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    transition: all 0.3s;
}

.nav ul li a:hover {
    background-color: #12b7f5;
}

.zhanghao {
    float: right;
}

.zhanghao ul li {
    margin-top: 17px;
    float: left;
}

.zhanghao ul li a {
    display: inline-block;
    width: 96px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    border-radius: 25px;
    color: #333;
    font-size: 10px;
    transition: all 0.3s;
}

.zhanghao ul li a:hover {
    background-color: #13b8f6;
    color: #fff;
    font-size: 15px;
}

.content h1 {
    width: 100%;
    height: 321px;
    background-color: #fff;
    text-align: center;
}

/* 第一张图片 */
.first {
    height: 600px;
    background: url(./images/bg1.jpg) no-repeat top center/cover fixed;
}

.content .goutong {
    width: 100%;
    height: 584px;
    background-color: #fff;
}

.goutong .w {
    position: relative;
    height: 584px;
    overflow: hidden;
}

.goutong .w .img1 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.wenzi {
    position: absolute;
    right: 7px;
    top: 115px;
    width: 487px;
    text-align: right;
}

.wenzi h2 {
    height: 135px;
    font-size: 46px;
    font-weight: 400;
    line-height: 60px;
}

.wenzi p {
    font-size: 17px;
    line-height: 24px;
    color: #666666;
}

.wenzi .a1 {
    display: block;
    margin-top: 12px;
    margin-bottom: 45px;
    color: #13b8f6;
}

.wenzi ul {
    float: right;
}

.wenzi ul li {
    float: left;
    width: 117px;
    height: 96px;
    text-align: center;
    font-size: 14px;
}

.wenzi ul li::before {
    content: '';
    display: block;
    width: 62px;
    height: 48px;
    background: url(./images/qcall_figs.jpg) no-repeat -236px 0;
    margin: 0 auto;
    margin-bottom: 8px;
}

.wenzi ul li:nth-child(1)::before {
    background-position: 8px 0;
}

.wenzi ul li:nth-child(2)::before {
    background-position: -130px 0;
}

.wenzi ul li:nth-child(2) {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

/* 第二张图片 */
.second {
    height: 600px;
    background: url(./images/bg2.jpg) no-repeat top center/cover fixed;
}

.goutong .w .zhongwen {
    left: 7px;
    top: 115px;
    text-align: left;
}

.img2 {
    position: absolute;
    right: -2px;
    bottom: 42px;
}

.zhongwen ul {
    float: left;
}

.zhongwen ul li::before {
    background: url(./images/qfile_figs.jpg) no-repeat -225px -5px;
}

.zhongwen ul li:nth-child(1)::before {
    width: 75px;
    background-position: 7px 0;
}

.zhongwen ul li:nth-child(2)::before {
    background-position: -114px 0;
}

.footer {
    height: 286px;
    background-color: #333;
    padding: 34px 0;
}

.footer-hd {
    height: 153px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    color: #666;
}

.footer-l {
    float: left;
}

.footer-hd .footer-l h4 {
    height: 40px;
    font-size: 15px;
    font-weight: 400;
}

.footer-hd .footer-l a {
    display: inline-block;
    width: 103px;
    height: 93px;
    font-size: 14px;
    text-align: center;
    color: #ccc;
}


.footer-hd .footer-l a:hover {
    color: #12b7f5;
}

.footer-hd .footer-l a::before {
    content: '';
    display: block;
    width: 84px;
    height: 70px;
    background: url(./images/jinglingtu.jpg) no-repeat -206px 0px;
}

.footer-hd .footer-l a:nth-child(2)::before {
    background-position: 16px 0px;
}

.footer-hd .footer-l a:nth-child(3)::before {
    background-position: -97px 0px;
}

.footer-hd .footer-l a:hover::before {
    background-position: -206px -94px;
}

.footer-hd .footer-l a:nth-child(2):hover::before {
    background-position: 16px -92px;
}

.footer-hd .footer-l a:nth-child(3):hover::before {
    background-position: -97px -94px;
}

.footer-hd dl {
    float: right;
    font-size: 15px;
    margin-left: 40px;
}

.footer-hd dl dt {
    font-size: 10px;
    margin-bottom: 12px;
}

.footer-hd dl a {
    font-size: 10px;
    color: #ccc;
}

.footer-hd dl a:hover {
    color: #fff;
}

.footer-bd {
    color: #666;
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
}